* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Lobster Two", cursive;
}

p {
    font-family: "Exo 2", sans-serif;
}

.thumbnail:hover {
    transform: scale(1.5);
}

/* header */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.7em;
    height: 5em;
    background-color: #539E4F;
}

nav h1 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 3em;
}

nav ul {
    flex-shrink: 1;
}
nav li {
    font-family: "Exo 2", sans-serif;
    list-style: none;
    display: inline;
    margin: 0.5em;
    padding: 0.2em;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    border-radius: 5px 10px;
    
}

nav a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    border: 2px solid transparent;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    nav li {
        display: none;
    }

    nav h1 {
        margin: auto auto;
    }
}

/* presentation */
.presentation {
    display: grid;
    width: 100%;
    height: 30em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30em;
    
}

.presentation img {
    align-self: center;
    border-radius: 15px;
    margin-left: 2em;
}


.about-me {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.about-me h2 {
    font-size: 3rem;
    padding: 2rem;
    color: 
}
.about-me p {
    font-size: 2rem;
    padding: 2rem;
}

@media only screen and (max-width: 1000px) {
    .presentation {
        display: flex;
    }
    .presentation img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .about-me h2 {
        display: none;
    }

    .about-me p {
        font-size: 1.5rem;
        text-align: center;
        margin: auto auto;
    }

    .presentation {
        display: flex;
        height: 22rem;
    }

    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }
}


/* projets */
.projets h1 {
    text-align: center;
    padding: 1rem
}

.projets hr {
    color: #539E4F;
    background: #539E4F;
    height: 5px;
    border: none;
}

.projets-list {
    display: grid;
    background: linear-gradient(#539E4F, #1a9214);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 18.75rem 18.75rem;
    grid-template-areas: 
     "img1 desc2 img3 desc4"
     "desc1 img2 desc3 img4";
}


#projet1-image {
    grid-area: img1;
}

#projet2-image {
    grid-area: img2;
    align-self: center;
    width: 100%;
    height: 100%;
}

#projet3-image {
    grid-area: img3;
}

#projet4-image {
    grid-area: img4;
}

#projet1-description {
   grid-area: desc1;
}

#projet2-description {
    grid-area: desc2;
}

#projet3-description {
    grid-area: desc3;
}

#projet4-description {
    grid-area: desc4;
}


.img-projet {
    display: flex;
}

.img-projet:hover {
    cursor: pointer;
}

.img-projet img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
   
}

.desc-projet {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.desc-projet h3 {
    font-size: 2rem;
    text-align: center;
}


.desc-projet p {
    padding: 0.7rem;
    text-align: justify;
}

.desc-projet .icon-wrapper {
    display: flex;
    justify-content: center;
}
.desc-projet .icon {
    width: 15%;
    height: auto;
}

@media only screen and (max-width: 1000px) {

    .projets-list {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 18.75rem);   
    grid-template-areas: 
     "img1 img2"
     "desc1 desc2"
     "img3 img4"
     "desc3 desc4"
    }

    .desc-projet {
        visibility: visible;
    }

    .desc-projet p {
        font-size: 1.3rem;
    }
    
}
@media only screen and (max-width: 600px) {

    .projets-list {

    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 18.75rem);   
    grid-template-areas: 
     "img1"
     "desc1"
     "img2"
     "desc2"
     "img3"
     "desc3"
     "img4"
     "desc4";
    }

    .desc-projet {
        visibility: visible;
    }

    .desc-projet p {
        font-size: 1.3rem;
    }
    
}

/* footer and contact */
footer {

    min-height: 8rem;
    display: flex;
    background-color: #1a9214;
    align-items: center;
    border-top: solid 5px #0d3a0b;
    justify-content: center;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    margin: 0 1.5rem;
    background-color: white;
    border: solid 2px white;
    border-radius: 5px 10px;
    transition: transform 0.5s;
}

.thumbnail:hover {
    transform: scale(1.5);
}




