* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Lobster Two", cursive;
}

p {
    font-family: "Exo 2", sans-serif;
}

/* header */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.7em;
    height: 5em;
    background-color: #5C7AB8;
}

nav h1 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 3em;
}

nav li {
    font-family: "Exo 2", sans-serif;
    list-style: none;
    display: inline;
    margin: 0.5em;
    padding: 0.2em;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    
}

nav li:hover {
    border: 2px solid transparent;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

/* presentation */
.presentation {
    display: grid;
    width: 100%;
    height: 30em;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30em;
    
}

.presentation img {
    align-self: center;
    border-radius: 15px;
    margin-left: 2em;
}


.about-me {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.about-me h2 {
    font-size: 3rem;
    padding: 2rem;
    color: 
}
.about-me p {
    font-size: 2rem;
    padding: 2rem;
    color: 
}

/* projets */
.projets h1 {
    text-align: center;
    padding: 1rem
}

.projets hr {
    color: #539E4F;
    background: #539E4F;
    height: 5px;
    border: none;
}

.projets-list {
    display: grid;
    background-color: #539E4F;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 18.75rem 18.75rem;
    grid-template-areas: 
     "img1 desc2 img3 desc4"
     "desc1 img2 desc3 img4";
}


#projet1-image {
    grid-area: img1;
}

#projet2-image {
    grid-area: img2;
    align-self: center;
    width: 100%;
    height: 100%;
}

#projet3-image {
    grid-area: img3;
}

#projet4-image {
    grid-area: img4;
}

#projet1-description {
   grid-area: desc1;
}

#projet2-description {
    grid-area: desc2;
}

#projet3-description {
    grid-area: desc3;
}

#projet4-description {
    grid-area: desc4;
}


.img-projet {
    display: flex;
}

.img-projet img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
   
}

.desc-projet {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.desc-projet h3 {
    font-size: 2rem;
}


.desc-projet p {
    padding: 0.7rem;
    text-align: justify;
}

.desc-projet .icon-wrapper {
    display: flex;
    justify-content: center;
}
.desc-projet .icon {
    width: 15%;
    height: auto;
}

